* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main {
    background-color: #00337C;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    min-width: 400px;
    padding: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    background: #7B8FA1;
    border-radius: 20px;
    margin-top: 10px;
}

#password {
    width: 100%;
    display: block;
    background-color: whitesmoke;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.row {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

label {
    user-select: none;
}

#btn {
    width: 100%;
    font-size: 25px;
    outline: 0;
    border: 0;
    padding: 10px;
    background-color: #567189;
    color: white;
    margin-top: 20px;
    border-radius: 15px;
}
